<div class="auditoria-wrapper">
  <div class="auditoria-content">
    <div class="auditoria-top-cards">
      <div class="auditoria-mini-card">
        <label class="minicard-label">USUARIOS:</label>
        <div class="auditoria-mini-card-body">
          <div class="auditoria-mini-card-icon">
            <mat-icon>group</mat-icon>
          </div>
          <span class="auditoria-mini-card-value">{{ totalUsuarios() }}</span>
        </div>
      </div>
      <div class="auditoria-mini-card">
        <label class="minicard-label">EQUIPOS ACTIVOS:</label>
        <div class="auditoria-mini-card-body">
          <div class="auditoria-mini-card-icon">
            <mat-icon>shield</mat-icon>
          </div>
          <span class="auditoria-mini-card-value">{{ totalEquiposActivos() }}</span>
        </div>
      </div>
      <div class="auditoria-mini-card">
        <label class="minicard-label">FASE DE COMPETENCIA:</label>
        <div class="auditoria-mini-card-body">
          <div class="auditoria-mini-card-icon">
            <mat-icon>sports</mat-icon>
          </div>
          <span class="auditoria-mini-card-value">{{ faseActual() }}</span>
        </div>
      </div>
    </div>

    <div class="auditoria-card-border">
      <div class="auditoria-card"></div>
    </div>
  </div>
</div>
