@import 'tailwindcss';

@import 'primeicons/primeicons.css';

/* Hide scrollbar in sidenav content */
mat-sidenav-content,
.mat-sidenav-content,
.mat-drawer-content {
  overflow: hidden !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
mat-sidenav-content::-webkit-scrollbar,
.mat-sidenav-content::-webkit-scrollbar,
.mat-drawer-content::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

.p-select-overlay {
  .p-select-list-container {
    max-height: 80px !important;
    overflow-y: auto !important;
    scrollbar-width: thin !important;
  }

  .p-select-list-container::-webkit-scrollbar {
    display: block !important;
    width: 6px !important;
  }

  .p-select-list-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
}
